.conteiner__videos{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    position: relative;
}
.__video{
    height: 100%;
    width: 100%;
    object-fit: fill;
    scroll-snap-align: start;
    
}
