body{
  scroll-snap-type: y mandatory;
}
.App{
  background-color: black;
  color: white;
  height: 100vh;
  display: grid;
  place-items: center;
}
.app__videos{
  background-color: gray;
  height: 100vh;
  max-height: 600px;
  width: 80%;
  max-width: 500px;
  border-radius: 20px;
  scroll-snap-type: y mandatory;
}
/* esconde scrollbar para chrime safari e opera */
.app__videos::-webkit-scrollbar{
  display: none;
}
/* esconde scrollbar para explorer edge e firefox */
.app__videos{
  -ms-overflow-style: none;
  scrollbar-width: none;
}